<div>
  <h3>Text</h3>
  <h4>{{section.settings.liquid-text}}</h4>
</div>
{% schema %}
{
  "name": "Liquid Practice",
  "settings": [
    {
      "id": "liquid-text",
      "type": "text",
      "label":"Enter Text",
      "default":"Hello World"
    }
  ],
  "presets": [
    {
      "name": "Liquid Reference",
      "cateogory": "reference"
    }
  ]
}
{% endschema %}